@{
    ViewData["Title"] = "Home";
}
    <title>@ViewData["Title"] - Startman S.A</title>

    <h2>Startman S.A.</h2>

    <h4 style="font-weight:normal; padding-top:3%;">
        Controle de Estoque
    </h4>

    <form>
        <label style="font-size:large;padding-top:2%">
            Matérias-Primas:
        </label>
        <button onclick="window.location.href='https://localhost:44365/materiaprima'" class="btn-info" asp-controller="MateriaPrima" asp-action="Index">
            Matérias-Primas
        </button>
        <br/>
        <label style="font-size:large;padding-top:2%">
            Logs:
        </label>
        <button onclick="window.location.href='https://localhost:44365/logs'" class="btn-info" asp-controller="Logs" asp-action="Index">
            Logs
        </button>
    </form>