@model StartmanSA.Models.Logs

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Logs</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Encarregado" class="control-label"></label>
                <input asp-for="Encarregado" class="form-control" />
                <span asp-validation-for="Encarregado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MateriaPrima" class="control-label"></label>
                <input asp-for="MateriaPrima" class="form-control" />
                <span asp-validation-for="MateriaPrima" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipodeOperacao" class="control-label"></label>
                <input asp-for="TipodeOperacao" class="form-control" />
                <span asp-validation-for="TipodeOperacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuantidadeAlterada" class="control-label"></label>
                <input asp-for="QuantidadeAlterada" class="form-control" />
                <span asp-validation-for="QuantidadeAlterada" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiaAlteracao" class="control-label"></label>
                <input asp-for="DiaAlteracao" class="form-control" />
                <span asp-validation-for="DiaAlteracao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
